:root {
    --vaderColor: rgba(255, 255, 255, 0.5);
    --vaderActiveColor: white;
    --vaderRunnerColor: rgba(64, 192, 64, 0.5);
    --vaderActiveRunnerColor: #0f0;
}

html, body { height: 100vh; margin: 0; padding: 0; }

body {
    background-color: black;
    background: linear-gradient(to bottom, #000, #459);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

body.noscroll { overflow: hidden; }

@media (max-width: 400px) or (max-height: 600px) {
    /*Lock out mobile users, desktop and laptop only*/
    #gameTitle { display: none; }
    #mobileNotice { display: block !important; }
}

#mobileNotice {
    text-align: center; 
    padding: 20px; 
}

#mobileNotice .err {
    color: red;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(255,0,0,0.5), 0 0 100px red;
}

#gameTitle { margin: 20px;}

.max {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#gameContainer {
    overflow: hidden;
    position: relative;
    padding-left: 1rem;
    pointer-events: none;
}

#vaderContainer {
    overflow: hidden;

}

button {
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
    border-width: 3px;
    border-radius: 11px;
    padding: 10px;
    font-size: 14px;
}
button:hover {
    background-color: #444;
    color: rgba(255, 255, 255, 1);
}
button.delete {
    background-color: #800;
    border-color: red;
    animation: jiggle 0.5s infinite;
}
button.delete:hover {
    background-color: #a00;
}
#presetButtons BUTTON:disabled, #startGame:disabled {
    background-color: #222;
    color: rgba(255, 255, 255, 0.3);
    border-color: #444;
    cursor: not-allowed;
}
#btnDeletePreset.deleteMode {
    background: linear-gradient(to bottom, black, #800);
    border-color: red;
}
.grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
}
.grid button.hover, #presetButtons button.hover {
    /*This is a preview hover from hovering over the set buttons*/
    background-color: #454;
}
.grid button.selected, #presetButtons button.selected {
    background-color: #162;
    border-color: #040;            
}
.savePresetContainer {
    align-items: center;
}
#btnMakePreset, #presetSave { display: inline-block; width: 10em; }
#presetSave { display: inline-flex; align-items: center; }
#setname { 
    flex: 1; 
    width: 89px; 
    min-width: 0; 
    box-sizing: border-box; 
    height: 2.7em; 
    border-radius: 10px 0 0 10px;
    padding-left: 6px;
}
#setname:focus-visible { outline: none; box-shadow: 0 0 10px white;}
#presetSave > BUTTON { 
    margin: 0 -3px;
    padding: 0.4em;
}
#presetSave > BUTTON:first-of-type {
    border-radius: 0; 
    margin-left: -6px;
}
#presetSave > BUTTON:last-child { 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

#setName, .score, #statsContainer { 
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
}

.score, #score2 { color: yellow; font-size: 1.5rem; }

#statsContainer {
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    pointer-events: auto;
}

#statsContainer:hover {
    opacity: 1;
}

#statsContainer DL { 
    display: grid; 
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

#statsContainer DL > DD { margin: 0; }

#gameContainer.paused {
    filter: blur(0.7rem);
    pointer-events: none;
    opacity: 0.6;
}

#gameContainer .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 80vh;
    opacity: 0.1;
    color: black;
    pointer-events: none;
    z-index: -1;
    filter: blur(6px);
    animation: wiggle 30s infinite ease-in-out;
}

@keyframes wiggle { /*rotate slightly left & right (for the multis)*/
    0%   { transform: rotate(5deg); }
    50%  { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

.vader {
    position: absolute;
    top: -200px; /* Start just off-screen */
    color: var(--vaderColor);
    font-family: monospace;
    font-size: 5em;
    text-align: right;
    width: min-content;
    line-height: 0.9em;
    opacity: 1;
    transition: filter 2s ease-out, opacity 8s ease-out;
    animation: dance 2s infinite ease-in-out;
}
.vader .result { border-top: 0.08em solid var(--vaderColor); }
.vader.active, .vader.related {
    color: var(--vaderActiveColor);
    text-shadow: 0 0 0.3em rgba(255,255,255,1);
}
.vader.active .result, .vader.related .result { border-color: var(--vaderActiveColor); }
.vader.active .operator, .vader.related .operator { animation: wiggle 1s infinite ease-in-out; }
.vader.correct {
    color: var(--vaderRunnerColor);
    opacity: 0;
    filter: blur(2rem);
}
.vader.incorrect { color: #f00; }
.vader.correct .result { border-color: #0f0; }
.vader.incorrect .result { border-color: #f00;}
.vader.dead {
    color: black;
    text-shadow: 0 0 0.3rem purple;
    animation: jiggle 0.1s infinite;
}
.vader.dead .result { border-color: black; }
#gameContainer.paused .vader, .vader.paused, .vader.runner.paused, .vader.runner.paused .result { animation-play-state: paused; }
.vader.runner { color: var(--vaderRunnerColor); animation: dance 2s infinite ease-in-out, pulseColorPale 1s ease-in-out infinite; }
.vader.runner .result { border-color: var(--vaderRunnerColor); animation: pulseColorPale 1s ease-in-out infinite; }
.vader.active.runner { color: var(--vaderActiveRunnerColor); animation: dance 2s infinite ease-in-out, pulseColorActive 1s ease-in-out infinite; }
.vader.active.runner .result { color: var(--vaderActiveRunnerColor); animation: pulseColorActive 1s ease-in-out infinite; }

@keyframes jiggle { /*death rattle*/
    0%   { transform: rotate(10deg) translate(0, 0); }
    25%  { transform: rotate(10deg) translate(-1px, 1px); }
    50%  { transform: rotate(10deg) translate(1px, -1px); }
    75%  { transform: rotate(10deg) translate(-1px, -1px); }
    100% { transform: rotate(10deg) translate(1px, 1px); }
}

@keyframes dance { /*bob up & down*/
    0%   { transform: translate(0, 0); }
    50%  { transform: translate(0, -10px); }
    100% { transform: translate(0, 0); }
}

#gameContainer.boom { animation: boom 0.5s linear; }

@keyframes boom {
    0%   { transform: translate(0, -10px); }
    10%  { transform: translate(0,   9px); }
    20%  { transform: translate(0,  -8px); }
    30%  { transform: translate(0,   7px); }
    40%  { transform: translate(0,  -6px); }
    50%  { transform: translate(0,   5px); }
    60%  { transform: translate(0,  -4px); }
    70%  { transform: translate(0,   3px); }
    80%  { transform: translate(0,  -2px); }
    90%  { transform: translate(0,   1px); }
    100% { transform: translate(0,   0px); }
}

#paused {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3vw;
    margin: 30vh 0;
    pointer-events: none;
}

#paused p + p { font-size: 60%; opacity: 0.6; }
#paused p:last-child { color: yellow; }

#gameOver, #highScoresMainMenu {
    height: 100vh;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.7);
}

#highScoresMainMenu button { margin-top: 2rem;}

#startGame { font-size: 200%; }

#setNote { color: white; margin-left: 1rem; opacity: 0.7; }

ul.tips > li { line-height: 1.8rem; }

ul.tips span { 
    font-family: monospace; 
    font-size: 1.1rem; 
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 0.2rem;
}

#gameContainer > .background2, #gameContainer > #tipContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 15rem;
    font-weight: bold;
    color: black;
    pointer-events: none;
    z-index: -1;
}

#gameContainer > .background2 { filter: blur(6px); }

#gameContainer > .background2 > .multi {
    position: absolute;
    animation: wiggle 10s infinite ease-in-out;
}

#gameContainer > .background2 > .multi:after {
    content: "\00D7"; /*multiplication sign*/
}

#gameContainer .turret {
    /*Visual style of turret is in SVG*/
    position: absolute; 
    top: calc(100vh - 60px); /*Bottom of screen*/ 
    left: calc(50vw - 50px); /*Center of screen*/
}

#gameContainer .turret .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius:50px;
    filter: blur(20px);
    z-index: -1;
}

#gameContainer .turret .circle.multishot {
    background-color: #0f0;
}

#gameContainer .turret .circle.pulse {
    animation: 1s cubic-bezier(0, .75, .08, 1) 1 pulse;
}


@keyframes pulse {
    0% { filter: blur(30px); transform: scale(2); }
    100% { filter: blur(20px); transform: scale(1); }
}

#svgContainer, #svgContainer #svgLaser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#svgContainer svg g#sparks line {
    stroke:rgb(255,0,0);
    stroke-width:4px;
}

#svgContainer svg g#sparks circle, svg#nameSparks circle {
    stroke-opacity: 0;
    fill: url(#laserGrad);
    r: 5px;
    opacity: 1;
    animation: fadeOut 10s forwards;
}

#svgFX { z-index: 99; }
#svgBehind { z-index: -99; }

#orbitersFront circle, #orbitersBehind circle {
    fill: chartreuse;
}

g#networkLines line {
    stroke-width: 8px;
    opacity: 0.5;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideUp {
    from { transform: translateY(0) rotate(-10deg); filter: blur(0); }
    to { transform: translateY(-1em) rotate(-5deg); filter: blur(6px); }
}

#gameContainer > #tipContainer { color: yellow; }
#tipContainer > * { position: absolute; }

#tipContainer .tipclear {
    top: 40vh;
    width: 100%;
    font-size: 4rem;
    animation: fadeOut 5s forwards, slideUp 5s forwards;
}

#tipContainer .tippoint {
    font-size: 2rem;
    animation: fadeOut 2s forwards, slideUp 2s forwards;
}

@keyframes pulseColorPale {
    0%   { color: var(--vaderColor); border-color: var(--vaderColor); }
    50%  { color: var(--vaderRunnerColor); border-color: var(--vaderRunnerColor); }
    100% { color: var(--vaderColor); border-color: var(--vaderColor); }
}

@keyframes pulseColorActive {
    0%   { color: var(--vaderActiveColor); border-color: var(--vaderActiveColor); }
    50%  { color: var(--vaderActiveRunnerColor); border-color: var(--vaderActiveRunnerColor); }
    100% { color: var(--vaderActiveColor); border-color: var(--vaderActiveColor); }
}

#gameOver h1 { padding-top: 10rem;}

#initialsInput {
    text-transform: uppercase;
}

ol.highscorelist {
    width: 20rem;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(
        315deg,
        hsl(  0, 100%, 50%),
        hsl( 30, 100%, 50%),
        hsl( 60, 100%, 50%),
        hsl(120, 100%, 40%),
        hsl(240, 100%, 60%),
        hsl(275, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(  0, 100%, 50%),
        hsl( 30, 100%, 50%),
        hsl( 60, 100%, 50%),
        hsl(120, 100%, 40%),
        hsl(240, 100%, 60%),
        hsl(275, 100%, 50%),
        hsl(300, 100%, 50%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowShift 8s linear infinite;
    background-size: 1000%;
    font-weight: bold;
}

ol.highscorelist li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: start;
}

ol.highscorelist li.new {
    -webkit-text-fill-color: initial;
    text-shadow: 0 0 1rem;
    transition: transform 2s ease-out;
}

ol.highscorelist li.new dd:nth-child(2) {
    text-transform: uppercase;
}

ol.highscorelist li.new:not(.full) dd:nth-child(2)::after {
    content: "_";
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

ol.highscorelist li.new.emphasize { animation: popAndReturn 2s ease-out; }

@keyframes popAndReturn {
    0%   { transform: scale(1.0); }
    1%   { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}

ol.highscorelist li.kicked { 
    -webkit-text-fill-color: initial;
    color: red;
    text-shadow: 0 0 1rem red;
    position: relative;
    top: 0;
    z-index: 1;
    transition: opacity 5s ease-out, top 5s ease-out;
}

ol.highscorelist li.kicked.hidden { opacity: 0; top: 3rem; pointer-events: none; }

ol.highscorelist li dl { display: contents; }

ol.highscorelist li dt, ol.highscorelist li dd {
    margin: 0;
}

ol.highscorelist li dt { font-size: 1rem; position: relative; top: 0.4rem;}

ol.highscorelist li *:nth-child(2) { letter-spacing: 0.1em; }

ol.highscorelist li dd:last-child { text-align: right; }

@keyframes rainbowShift {
    0%   { background-position: 0%; }
    100% { background-position: 66%; } /*This smoothly wraps with 10 entries*/
}

#highScoresGameOver p { font-size: 1rem; }

#gameOverButtons { margin-top: 1rem; position: relative; z-index: 2; }

#nameSparks { pointer-events: none; }

svg#nameSparks circle {
    fill: url(#nameDotGrad);
    r: 3px; 
}

#gameTitle p:last-child, .small { 
    font-size: smaller; 
    padding-bottom: 1rem; 
}
.small.tiny { 
    font-size: 60%; color: rgba(255,255,255,0.5); 
    animation: gradualReveal 20s forwards; 
}
.small.tiny b { font-family: monospace; line-height: 1px; font-size: 150%; }
a { color: #ccc; }
a:hover { color: white; text-shadow: 0 0 5px white; }
@keyframes gradualReveal {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}