html, body { height: 100vh; margin: 0; padding: 0; }

body {
    background-color: black;
    background: linear-gradient(to bottom, #000, #459);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

body.noscroll { overflow: hidden; }

#gameTitle { margin: 20px;}

#gameContainer {
    overflow: hidden;
    position: relative;
    height: 100vh;
    padding-left: 1rem;
    pointer-events: none;
}

button {
    background-color: #333;
    color: rgba(255, 255, 255, 0.8);
    border-width: 3px;
    border-radius: 11px;
    padding: 10px;
    font-size: 14px;
}
button:hover {
    background-color: #444;
    color: rgba(255, 255, 255, 1);
}
button.delete {
    background-color: #800;
    border-color: red;
    animation: jiggle 0.5s infinite;
}
button.delete:hover {
    background-color: #a00;
}
#presetButtons BUTTON:disabled {
    background-color: #222;
    color: rgba(255, 255, 255, 0.3);
    border-color: #444;
    cursor: not-allowed;
}
#btnDeletePreset.deleteMode {
    background: linear-gradient(to bottom, black, #800);
    border-color: red;
}
.grid {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
}
.grid button.hover {
    /*This is a preview hover from hovering over the set buttons*/
    background-color: #454;
}
.grid button.selected {
    background-color: #162;
    border-color: #040;            
}
.savePresetContainer {
    align-items: center;
}
#btnMakePreset, #presetSave { display: inline-block; width: 10em; }
#presetSave { display: inline-flex; align-items: center; }
#setname { 
    flex: 1; 
    width: 89px; 
    min-width: 0; 
    box-sizing: border-box; 
    height: 2.7em; 
    border-radius: 10px 0 0 10px;
    padding-left: 6px;
}
#setname:focus-visible { outline: none; box-shadow: 0 0 10px white;}
#presetSave > BUTTON { 
    margin: 0 -3px;
    padding: 0.4em;
}
#presetSave > BUTTON:first-of-type {
    border-radius: 0; 
    margin-left: -6px;
}
#presetSave > BUTTON:last-child { 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

#setName, .score, #statsContainer { 
    color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
}

.score, #score2 { color: yellow; font-size: 1.5rem; }

#statsContainer {
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    pointer-events: auto;
}

#statsContainer:hover {
    opacity: 1;
}

#statsContainer DL { 
    display: grid; 
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

#statsContainer DL > DD { margin: 0; }

#gameContainer.paused {
    filter: blur(0.7rem);
    pointer-events: none;
    opacity: 0.6;
}

#gameContainer .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 80vh;
    opacity: 0.1;
    color: black;
    pointer-events: none;
    z-index: -1;
    filter: blur(6px);
    animation: wiggle 30s infinite ease-in-out;
}

@keyframes wiggle { /*rotate slightly left & right (for the multis)*/
    0%   { transform: rotate(5deg); }
    50%  { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

.vader {
    position: absolute;
    top: -200px; /* Start just off-screen */
    color: rgba(255, 255, 255, 0.5);
    font-family: monospace;
    font-size: 5em;
    text-align: right;
    width: min-content;
    line-height: 0.9em;
    opacity: 1;
    transition: filter 2s ease-out, opacity 8s ease-out;
    animation: dance 2s infinite ease-in-out;
}
.vader .result { border-top: 0.08em solid rgba(255, 255, 255, 0.5); }
.vader.active {
    color: white;
    text-shadow: 0 0 0.3em rgba(255,255,255,1);
}
.vader.active .result { border-color: white; }
.vader.active .operator { animation: wiggle 1s infinite ease-in-out; }
.vader.correct {
    color: #0f0;
    opacity: 0;
    filter: blur(2rem);
}
.vader.incorrect { color: #f00; }
.vader.correct .result { border-color: #0f0; }
.vader.incorrect .result { border-color: #f00;}
.vader.dead {
    color: black;
    text-shadow: 0 0 0.3rem purple;
    animation: jiggle 0.1s infinite;
}
.vader.dead .result { border-color: black; }
#gameContainer.paused .vader, .vader.paused { animation-play-state: paused; }

@keyframes jiggle { /*death rattle*/
    0%   { transform: rotate(10deg) translate(0, 0); }
    25%  { transform: rotate(10deg) translate(-1px, 1px); }
    50%  { transform: rotate(10deg) translate(1px, -1px); }
    75%  { transform: rotate(10deg) translate(-1px, -1px); }
    100% { transform: rotate(10deg) translate(1px, 1px); }
}

@keyframes dance { /*bob up & down*/
    0%   { transform: translate(0, 0);}
    50%  { transform: translate(0, -10px); }
    100% { transform: translate(0, 0); }
}

#paused {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3vw;
    margin: 30vh 0;
    pointer-events: none;;
}

#paused p + p { font-size: 60%; opacity: 0.6; }
#paused p:last-child { color: yellow; }

#gameOver {
    margin: 1rem;
}

#startGame {
    font-size: 200%;
}

ul.tips > li { line-height: 1.8rem; }

ul.tips > li > span { 
    font-family: monospace; 
    font-size: 1.3rem; 
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 0.2rem;
}

#gameContainer > .background2, #gameContainer > #tipContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 15rem;
    font-weight: bold;
    color: black;
    pointer-events: none;
    z-index: -1;
}

#gameContainer > .background2 { filter: blur(6px); }

#gameContainer > .background2 > .multi {
    position: absolute;
    animation: wiggle 10s infinite ease-in-out;
}

#gameContainer > .background2 > .multi:after {
    content: "\00D7"; /*multiplication sign*/
}

#gameContainer .turret {
    /*Visual style of turret is in SVG*/
    position: absolute; 
    top: calc(100vh - 50px); /*Bottom of screen*/ 
    left: calc(50vw - 50px); /*Center of screen*/
}

#laserContainer, #laserContainer #svgLaser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#laserContainer svg g line {
    stroke:rgb(255,0,0);
    stroke-width:4px;
}

#laserContainer svg g circle {
    stroke-opacity: 0;
    fill: url(#laserGrad);
    r: 5px;
    opacity: 1;
    animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideUp {
    from { transform: translateY(0) rotate(-10deg); filter: blur(0); }
    to { transform: translateY(-1em) rotate(-5deg); filter: blur(6px); }
}

#gameContainer > #tipContainer { color: yellow; }
#tipContainer > * { position: absolute; }

#tipContainer .tipclear {
    top: 40vh;
    width: 100%;
    font-size: 4rem;
    animation: fadeOut 5s forwards, slideUp 5s forwards;
}

#tipContainer .tippoint {
    font-size: 2rem;
    animation: fadeOut 2s forwards, slideUp 2s forwards;
}
